@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Kalam:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color:rgb(231, 231, 122);
   background-color: rgb(24, 72, 114);
}

h1 {
text-align: center;
font-weight: 400;
font-size: 50px;
margin-top: 10px;
letter-spacing: 3px;

}


#menu , h1 {
    font-family: 'Griffy', cursive;
    font-weight:400;
   }


   #hero-outer{
    height: 500px;
    width: 100%;
    overflow: hidden;
   }

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/eleonora-k2UQ0DKctl4-unsplash\ \(1\).jpg) no-repeat center center;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode:forwards;
}



@keyframes hero-zoom {
    from{
       transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

h3, p {
    font-family: 'Kalam', cursive;
}

#menu {
letter-spacing: 3px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

#menu a {
    text-decoration: none;
    color:rgb(231, 231, 122);
    text-align: center;
    margin: auto;
}

a:hover{
    color: antiquewhite;
}
 